.title{
    background-color: red;
    display: flex;
    align-items: center;
    height: 20vh;
    width: 70em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}